:root {
    --brand-color: #FF6600;
    --body-color: #2A2A2A;
    --primary-color: #0062FF;
    --secondary-color: #6C757D;
    --success-color: #3DD598;
    --warning-color: #FFC542;
    --error-color: #FC5A5A;
    --assist-orange: #FF974A;
    --assist-blue: #50B5FF;
    --assist-green: #82C43C;
    --assist-purple: #A461D8;
    --assist-pink: #FF9AD5;
    --white: #fff;
    --1-gray:  #FAFAFB;
    --2-gray:  #F1F1F5;
    --3-gray:  #E2E2EA;
    --4-gray:  #D5D5DC;
    --5-gray:  #B5B5BE;
    --6-gray:  #92929D;
    --7-gray:  #696974;
    --8-gray:  #44444F;
    --black-color: #171725;
  }
  
